<h1>TEST</h1>
<script>
    function generateData(){
        var http = new XMLHttpRequest();
        var url = "";
        var params = "lorem=ipsum&name=binny";
        http.open("POST", url, true);
        
        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        
        http.onreadystatechange = function(response) {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                var json = JSON.parse(JSON.stringify(response))
                console.log(JSON.parse(http.responseText)['message']);
            }
        }
        http.send(params);
    }
</script>
<button onclick="generateData()">Generate Data</button>